# Database - Neon or fliss.io or docker
DATABASE_URL="postgresql://user:password@localhost:5432/mydb"

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Github oauth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# GITHUB App
GITHUB_APP_ID=
GITHUB_APP_NAME=
GITHUB_APP_PRIVATE_KEY=
NEXT_PUBLIC_GITHUB_PUBLIC_LINK=https://github.com/apps/suryacodeprreview
GITHUB_WEBHOOK_SECRET=