# Database - Neon or fliss.io or docker
DATABASE_URL="postgresql://user:password@localhost:5432/mydb"

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Github oauth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=